asgiref==3.10.0
cffi==2.0.0
cryptography==46.0.3
Django==5.2.7
django-fernet-fields==0.6
dnspython==2.8.0
dotenv==0.9.9
filelock==3.20.0
idna==3.11
psycopg2==2.9.11
py3-validate-email @ git+https://git.ksol.io/karolyi/py3-validate-email@32c8f4cdfaba4c7e7fc81405a023c849a9268859
pycparser==2.23
python-dotenv==1.1.1
sqlparse==0.5.3
typing_extensions==4.15.0
